<ion-view style="" title="">
  <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
    <form style="" class="list">
      <div style="height: 10px;" class="spacer"></div>
      <div style="height:35px; font-size:20px"><center>Passwort zurücksetzen</center></div>
      <div style="height: 25px;" class="spacer"></div>
      <label style="" class="item item-input">
        <input placeholder="Passwort" type="Password" ng-model="newPassword.real">
      </label>
      <label style="" class="item item-input">
        <input placeholder="Passwort wiederholen" type="Password" ng-model="newPassword.confirm">
      </label>
    </form>
    <div style="height: 100px;" class="spacer"></div>
    <button class="button button-positive  button-block" id="keinCodeInDBVorhanden-button14" ng-click="changePasswort(newPassword.real, newPassword.confirm)">Passwort ändern</button>

  </ion-content>
</ion-view>
