<ion-view style="" title="Einkaufsliste">
  <ion-nav-bar class="bar-positive" hide-back-button = "false">
  </ion-nav-bar>
  <ion-content ng-controller="eListeCtrl" class="has-header" scroll="true" overflow-scroll="true" padding="true">
    <ion-refresher
    pulling-text="Aktualisiere..."
    on-refresh="doRefreshShplist()">
  </ion-refresher>
  <div style="height: 20px;" class="spacer"></div>
  <div style="font-size: 15px;">
    {{meldungShpl}}
  </div>
  <ion-list type="list">
    <ion-item ng-repeat="(key, product) in productsShplist" href="#/page9/{{product.id}}">
      <div style="float:left; margin: 0 auto">
        {{$index+1}} |
      </div>
      <div style="padding-left:10px;float:left; width:159px; margin: 0 auto; max-width:70%; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">
        {{product.ProName}}
      </div>
      <a>
        <button class="button button-assertive button-small button-outline" style="float:right;" ng-click="countFunctionShp('{{product.id}}','-')">
          -
        </button>
      </a>
      <div id="proanzShp_{{product.id}}"style="float:right;margin-left:7px;margin-right:7px; max-width:9%; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">{{product.pivot.ProAnz}}</div> <!--{{product.pivot.ProAnz}}-->
      <a>
        <button class="button button-balanced button-small button-outline" style="float:right;"ng-click="countFunctionShp('{{product.id}}','+')">
          +
        </button>
      </a>
      <div>
        <ion-option-button class="button-positive" ng-click="singleItemToInventory(product.pivot.product_id,product.pivot.shopping_list_id)"><i class="ion-android-list"></i></ion-option-button>
        <ion-option-button class="button-assertive" ng-click="deleteProductFromShopping_List(product.pivot.product_id,product.pivot.shopping_list_id)"><i class="ion-trash-a"></i></ion-option-button>
      </div>
    </ion-item>
  </ion-list>
  <div style="height: 20px;" class="spacer"></div>
  <div style="position: absolute; bottom: 40px; width: 94.5%">
    <button class="button button-positive  button-block fixed-outside" id="eListe-button6" ng-click="itemsToInventory()"> Einkauf ins Inventar</button>
  </div>
</ion-content>
</ion-view>
