<ion-view style="" title="Inventar">
  <ion-nav-bar class="bar-positive" hide-back-button = "false">
  </ion-nav-bar>
  <ion-content class="has-header" scroll="true" overflow-scroll="true" padding="true">
    <ion-refresher
    pulling-text="Aktualisiere..."
    on-refresh="doRefreshInv()">
  </ion-refresher>
  <div style="height: 20px;" class="spacer"></div>
  <div style="font-size: 15px;">
    {{meldungInv}}
  </div>
  <ion-list type="list">
    <ion-item ng-repeat="(key, product) in productsInv" ng-href="#/page9/{{product.id}}">
      <div style="float:left; margin: 0 auto">
        {{$index+1}} |
      </div>
      <div style="padding-left:10px;float:left; width:159px; margin: 0 auto; max-width:70%; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">
        {{product.ProName}}
      </div>
      <a>
        <button class="button button-assertive button-small button-outline"style="float:right;" ng-click="countFunction('{{product.id}}','-')">
          -
        </button>
      </a>
      <div id="proanz_{{product.id}}"style="float:right;margin-left:7px;margin-right:7px; max-width:9%; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">{{product.pivot.ProAnz}}</div>
      <a>
        <button class="button button-balanced button-small button-outline"style="float:right;" ng-click="countFunction('{{product.id}}','+')">
          +
        </button>
      </a>
      <div>
        <ion-option-button class="button-positive" ng-click="transferToShoppingList(product.pivot.product_id,product.pivot.inventory_id)"><i class="ion-clipboard"></i></ion-option-button>
        <ion-option-button class="button-assertive" ng-click="deleteProductFromInventory(product.pivot.product_id,product.pivot.inventory_id)"><i class="ion-trash-a"></i></ion-option-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>
