<ion-view style="" title="Produkt anlegen">
  <ion-nav-bar class="bar-positive" hide-back-button = "false">
  </ion-nav-bar>
  <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
    <form style="" class="list">
      <!--div style="height:35px; font-size:20px"><center>Produkt anlegen</center></div-->
      <div style="height: 5px;" class="spacer"></div>
      <label style="" class="item item-input item-floating-label">
        <span class="input-label">Produktname</span>
        <input placeholder="Produktname" type="text" ng-model="newProduct.ProName">
      </label>
      <label style="" class="item item-select">
        <div class="input-label">
          Produktart
        </div>
        <select ng-model="newProduct.ProArt">
          <option>Getränk</option>
          <option>Süßigkeiten</option>
          <option>Gemüse</option>
          <option>Drogerie</option>
          <option>Alkohol</option>
          <option>Backwaren</option>
          <option>Tabakwaren</option>
          <option>Wurst/Fleisch</option>
          <option>Milchprodukte</option>
          <option>Sonstiges</option>
        </select>
      </label>
      <label style="" class="item item-input item-floating-label">
        <span class="input-label">Anzahl</span>
        <input placeholder="Anzahl" type="number"min="0" ng-model="newProduct.ProAnz">
      </label>
    </form>
    <div style="height: 100px;" class="spacer"></div>
    <div class="button-bar">
      <button class="button button-positive  button-block" id="keinCodeInDBVorhanden-button14" ng-click="insertProductShplistNew()">Auf Einkaufsliste</button>
      <button class="button button-positive  button-block" id="keinCodeInDBVorhanden-button14" ng-click="insertProductInvNew()">Ins Inventar</button>
    </div>
  </ion-content>
</ion-view>
