<ion-view style="" title="Produkt Seite">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button button-clear" ng-click="myGoBack()"><i class="ion-arrow-left-c" ></i> Back</button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header" scroll="true" overflow-scroll="true" padding="true" ng-controller="AuthCtrl">
    <ion-refresher
    pulling-text="Aktualisiere..."
    on-refresh="doRefreshProductsite()">
  </ion-refresher>
  <div class="card">
    <div style="width: 100px; height: 10px;" class="spacer"></div>
    <center><font size="5">{{productname}}</font></center>
    <div style="width: 100px; height: 10px;" class="spacer"></div>
  </div>
  <div class="item item-body">
    <img class="full-image" style="max-width:320;max-hight:320" src="lib/ionic/css/img/images.svg">
  </div>
  <div style="width: 100px; height: 10px;" class="spacer"></div>
  <div class="List">
    <a class="positive item">
      Produktart:
      <p>{{proart}}</p>
      EAN:
      <p>{{proean}}</p>
      Im Inventar:
      <p>{{invanz}} mal</p>
      Auf der Einkaufsliste:
      <p>{{shpanz}} mal</p>
    </a>
  </div>
  <div style="width: 100px; height: 20px;" class="spacer"></div>
</ion-content>
</ion-view>
