<ion-view style="" title="Profil">
  <ion-nav-bar class="bar-positive" hide-back-button = "false">
    <ion-nav-back-button ></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="has-header" scroll="true" overflow-scroll="true" padding="true" ng-controller="AuthCtrl">
    <ion-refresher
    pulling-text="Aktualisiere..."
    on-refresh="doRefreshProfile()">
    </ion-refresher>
    <ion-list style="">
      <div style="height: 10px;" class="spacer"></div>
      <ion-item ng-repeat="(key, data) in UserData" class="item-thumbnail-left">
        <img src="lib/ionic/css/img/person.svg"></img>
        <h2>Benutzerdaten</h2>
        <p>Name: {{data.name}}</p>
        <p>Email: {{data.email}}</p>


      </ion-item>

    </ion-list>
    <div style="width: 100px; height: 10px;" class="spacer"></div>
<div class="List">
 <a class="positive item">
     Inventar:
     <p>Anzahl verschiedener Produkte: {{countInveinz}}</p>
     <p>Produktanzahl: {{countInvges}} </p>
     Einkaufsliste:
     <p>Anzahl verschiedener Produkte: {{countShplisteinz}}</p>
     <p>Produktanzahl: {{countShplistges}} </p>
 </a>
</div>
    <div style="width: 100px; height: 20px;" class="spacer"></div>
    <div class="list">
      <a class="positive item item-icon-left" ng-click="logout()">
        <i class="icon ion-power"></i>
        Logout
      </a>
      <a class="positive item item-icon-left" ui-sref="changePasswort">
        <i class="icon ion-key"></i>
        Kennwort ändern
      </a>
      <a class="positive item item-icon-left" ng-click="deleteUser()">
        <i class="icon ion-trash-b"></i>
        Account löschen
      </a>
    </div>
    <!--div class="list">
      <a class="positive item item-icon-left" ui-sref="changePasswort">
        <i class="icon ion-key"></i>
        Kennwort ändern
      </a>
    </div>
    <div style="height: 15px;" class="spacer"></div>
    <div class="list">
      <a class="positive item item-icon-left" ng-click="deleteUser()">
        <i class="icon ion-trash-b"></i>
        Account löschen
      </a>
    </div-->
    <!--button class="button icon left ion-home button-positive  button-block" id="profile-button10" style="float:left;" ui-sref="changePasswort"> Kennwort ändern</Button>
    <button class="button button-positive  button-block" id="profile-button11" ng-click="$scope.logout()">Logout</button>
    <div style="width: 287px; height: 100px;" class="spacer"></div>
    <button class="button icon left ion-trash-b button-positive  button-block" id="profile-button12" ng-click="deleteUser()"> Account löschen</button-->
  </ion-content>
</ion-view>
