<ion-view style="" title="Scan-Ergebnis">
  <ion-nav-bar class="bar-positive" hide-back-button = "false">
  </ion-nav-bar>
  <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
    <ion-list type="list">
      <ion-item style="" class="item-thumbnail-left" ng-repeat="(key, product) in ergebnisEAN">
        <img src="lib/ionic/css/img/image.svg"></img>
        <h2>{{product.ProName}}</h2>
        <p>{{product.ProArt}}</p>
        <p>{{product.EAN}}</p>
        <label style="" class="item item-input">
          <input placeholder="Anzahl" type="number"min="0" ng-model="newProduct.ProAnz">
        </label>
      </ion-item>
    </ion-list>
    <div style="height: 100px;" class="spacer"></div>
    <div class="button-bar">
      <a class="button button-positive  button-block" id="scanErgebnis-button8" ng-click="insertProductShplist()">Auf Einkaufsliste</a>
      <a class="button button-positive  button-block" id="scanErgebnis-button9" ng-click="insertProductInv()">Ins Inventar</a>
    </div>
  </ion-content>


</ion-view>
