<ion-view style="" title="Tabs Controller">

  <ion-tabs style="positive" class="tabs-stable tabs-icon-top">

    <ion-tab style="" title="" icon="ion-android-cart" href="#/page1/page8">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>


    <ion-tab style="" title="" icon="ion-android-list" href="#/page1/page9">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>

    <ion-tab ng-controller="kameraCtrl" ng-click="scanBarcode()"style="" title="" icon="ion-qr-scanner">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>

    <ion-tab style="" title="" icon="ion-android-settings" href="#/page1/page12">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>

  </ion-tabs>

</ion-view>
