<ion-view style="" title="Einloggen">
  <ion-nav-bar class="bar-positive" hide-back-button = "false">
  </ion-nav-bar>
    <ion-content class="has-header" overflow-scroll="true" padding="true" ng-controller="AuthCtrl">
<div style="height: 45px;" class="spacer"></div>
        <form style="" class="list">
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">E-Mail</span>
    <input type="email" class="form-control" placeholder="Email" ng-model="email">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Passwort</span>
    <input type="password" class="form-control" placeholder="Passwort" ng-model="password">
  </label>
</div>
<div style="height: 45px;" class="spacer"></div>
<a style="font-size:20px"class="button button-positive  button-block" ng-click="login()">LogIn</a>
</form>
<div style="height: 5px;" class="spacer"></div>
<a class="button button-positive  button-block button-clear" ui-sref="signup">Oder registrieren</a>
</ion-content>
</ion-view>
