<ion-view style="" title="Benutzer erstellen">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button ></ion-nav-back-button>
  </ion-nav-bar>
    <ion-content class="has-header" overflow-scroll="true" padding="true" ng-controller="AuthCtrl">
<div style="height: 45px;" class="spacer"></div>
        <form style="" class="list">
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Name</span>
    <input type="text" class="form-control" placeholder="Name" ng-model="newUser.name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">E-Mail</span>
    <input type="email" class="form-control" placeholder="Email" ng-model="newUser.email">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Passwort</span>
    <input type="password" class="form-control" placeholder="Passwort" ng-model="newUser.password">
  </label>
</div>
<div style="height: 45px;" class="spacer"></div>
<a style="font-size:20px"class="button button-positive  button-block" ng-click="checkmail(newUser.email)">Registrieren</a>
</form>
</ion-content>
</ion-view>
